/* GERAIS */
body{
    background-color: beige;
}
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

/* ------------------Nav Bar ------------------------ */

header, .navbar{
    background-color: rgb(236, 192, 194);
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 55px;
}

#logo{
    width: 55px;
}

.logo-text{
    color: rgb(44, 24, 224);
    font-weight: bold;
}

.logo-text:hover{
    color: rgb(44, 24, 224);
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
    border: 1px solid blue;
    margin: 8px;
    color: blue;
    border-radius: 4px;
}

.nav-link:hover{
    background: white;
}

/* .nav-item.active {
    border-bottom: 3px solid #FFF;
  } */

/* -------------------- MAIN SECTION ----------------------------- */ 

.main-title{
    color: rgb(44, 24, 224);
    margin: 0 0 9px 0;
    
}

.about-title{
    color: rgba(0, 0, 139, 0.582);
}

.col-md-6 span{
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

.img-home{
    border-radius: 6px;
    box-shadow: 0 0 10px burlywood;
}

/*-----------------FOOTER------------------*/

#copy-area{
    background-color: rgb(236, 192, 194);
}

#copy-area .footer{
    background-color: darkgray;
    text-align: center;
    position: fixed;
    bottom:0;
    height: 35px;
}

#copy-area .footer p{
    margin-bottom: 0;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

/*---------Responsive-----------------*/

@media(max-width: 768px){
    /*Geral*/
    .container{
        padding: 35px 0;
    }

    #about-area img{
       
    }

    #copy-area .footer p{
        margin-bottom: 0;
        font-size: 9px;
        font-weight: bold;
    }
}