h3{
    margin: 15px  0 25px 0;
}

button{
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: white;
}


.btnHover:hover{
    color: rgb(0, 0, 0); 
    font-size: larger;
}

.btn-warning{
    color: white;
}

